*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body,html,#app {
  place-items: center;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-weight: 400;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  color: #606266;
}


.flex{
  display: flex;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@import "element";
@import "variables";
@import "common";

