/*菜单*/
.el-menu {
  border: none !important;

  svg {
    width: 14px;
    height: 14px;
  }
}

.el-menu-item, .el-sub-menu__title {
  color: #505968;
}

.el-menu--horizontal > .el-menu-item, .el-menu--horizontal > .el-sub-menu .el-sub-menu__title {
  line-height: 48px !important;
}

/** Button 按钮*/
.el-button{
  font-weight: normal !important;
}

/** Card 卡片*/
.el-card__body{
  padding: 10px;
  height: 100%;
}

/** 下拉框*/
.el-select{
  width: 100%;
}

/*级联选择器*/
.el-cascader{
  width: 100%;
}

/*对话框 dialog*/
.el-dialog__body{
  max-height: calc(90vh - 80px)!important;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px !important;
}
.el-overlay .el-overlay-dialog{
  display: flex;
  justify-content: center;
  align-items: center;
  .el-dialog{
    margin: auto !important;
  }
}

/** Message Box 消息弹出框*/
.el-message-box__btns{
  flex-direction: row-reverse;
  justify-content: flex-start;
  button:nth-child(1){
    margin-left: 10px;
  }
}

/*侧边栏*/
.el-drawer__close-btn {
  padding: 0 !important;
}

.el-drawer__header {
  margin-bottom: 0 !important;
}


/* 面包屑*/
.el-breadcrumb {
  .el-breadcrumb__inner.is-link {
    color: #606266;
    font-weight: unset;
  }
  .el-breadcrumb__item:last-child .el-breadcrumb__inner{
    color: #606266;
    opacity: .7;
  }
}

/* 表格*/
.el-table thead{
  color: #303133 !important;
}
.el-table th.el-table__cell{
  background-color: #f5f7fa !important;
}

